@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Lato:ital,wght@0,400;1,300;1,400&family=Montserrat:wght@200&family=PT+Sans&family=Quicksand:wght@500&family=Spline+Sans:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.container {
  background-color: lightgray;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner__container {
  background-color: #233142;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  width: min(80%, 50rem);
  border-radius: 15px;
  border: none;
}
.quote__gen {
  width: 100%;
}
.quote__value {
  min-height: 10rem;
  width: min(90%, 400px);
  margin-inline: auto;
  text-align: center;
  color: white;
  border-radius: 10px;
  padding-top: 2rem;
  display: flex;
}
.quote__gen h2 {
  text-align: center;
  padding: 1rem 0;
  color: white;
}
.quote__btn {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.quote__btn:hover {
  background-color: lightcoral;
  color: white;
}
@media (max-width: 1025px) {
  .quote__btn {
    margin-top: 1.5rem;
  }
}
